{% extends 'base.html' %}

{% block title %}Sports{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Justin Boyd
      <small>Sports</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="/static/img/DeathValley.jpg" alt="">
      </div>

      <div class="col-md-4">
        <h3 class="my-3"><br /></h3>
        <p>I am a big sports fan. Mostly football, but I also love baseball, basketball, and other sports. My high school team is the Valdosta Wildcats - The football team in the US with the most wins with over 900 and counting. I also am a big University of Florida and Atlanta Falcons fan.</p>
        <h3 class="my-3"></h3>
        <!-- <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul> -->
      </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4"></h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c5/Atlanta_Falcons_logo.svg/384px-Atlanta_Falcons_logo.svg.png" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="/static/img/valdosta.jpeg" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="/static/img/percy.jpeg" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="/static/img/braves.jpeg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
